
<div class="page" data-page="board">
    <div class="page-content">
       <div class="init-modal">
           <div class="content-modal">
               <h5>Nova sala</h5>
               <h1>{{roomId}}</h1>
           </div>
           <div class="list-block media-list user-list">
               <h5 style="text-align: center">Aguardando jogadores</h5>
               <ul>

               </ul>

               <a href="#" class="button btn btn-black init-game-finally" style="margin: 20px auto; text-align: center; "> Iniciar jogo</a>
           </div>
       </div>
        <div class="black-deck">

        </div>
        <a href="#" class="clear">Limpar</a>
    </div>
</div>