
<div class="page" data-page="deck">
    <div class="page-content">
        <div class="init-modal">
            <div class="content-modal">
                <h5 style="display: none">Qual a última vez que você cagou</h5>
                <h1 style="display: none"><input type="date" id="date"><input type="time" id="time"></h1>
                <a href="#" class="button btn btn-black confirm-date" style="margin: 20px auto; text-align: center; "> Estou pronto </a>
            </div>
        </div>
        <!-- Slider container -->
        <div class="swiper-container">
            <!-- Slides wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
            </div>
            <!-- Pagination, if required -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>